@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 4.25rem;
}
.gridlayout{
    width: 93%;
    margin-left: auto;
    margin-right: auto;
}
header{
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
}
.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

.ham-icon, .ham-close-icon{
    display: none;
}

.navigation ul{
    display: flex;
    align-items: center;
    gap: 40px;

}

.navigation ul li a{
    text-decoration: none;
    color: black;
}
.navigation ul li{
    list-style: none;
    font-size: 19px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    color: black;
}
.navigation ul li a:hover{
    color: #0F9AD6;
    text-decoration: underline #0F9AD6;
}

.header-logo img{
    width: 155px;
    height: auto;
}


.hero-bg-img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/hero-section-bgimg.webp);
    background-repeat: no-repeat;
    background-position: center;
    width: 99.9%;
    height: 80vh;
    background-size: 100%;
    border: solid #c4c4c4 1px;
}

.main-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 30px;
}

.hero-content h1 {
    font-family: "Poppins", sans-serif;
    font-size: 46px;
}
.hero-content h1 span{
    font-family: "Poppins", sans-serif;
    font-size: 46px;
    color: #0F9AD6;
}

.hero-img img{
    width: 540px;
    height: auto;

}

.hero-content button{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
    padding: 13px 10px;
    width: 160px;
    border-radius: 5px;
    border: 1px solid #000;
    background: #0F9AD6;
}


.template-head,.blog-head, .guide-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
    padding: 30px 0px 0px 0px ;
}
.template-head h2, .blog-head h2, .guide-heading h2{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
}
.template-head p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 15px;
}
.main-template{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 10px 0px 0px 0px;
    flex-wrap: wrap;
}
.main-template img{
    width: 280px;
    height: auto;
}

.blog-card{
    width: 370px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    border: 1px solid #0F9AD6;
    border-radius: 8px;

}

.blog-card img{
    width: 100%;
    height: auto;
}

.blog-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: left;
  padding: 10px;
}

.blog-content h3{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.blog-content p{
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    font-weight: 400;

}
.blog-content a{
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    color: #0F9AD6;
text-decoration: none;
}

.main-blog{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
    margin: 30px 0px 30px 0px;
}
.contact-form form{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
.contact-head{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    width: 450px;
}
.contact-head h2{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 700;
}
.contact-head p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
}



.main-c-form input{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 410px;
    padding-bottom: 5px;
    background-color: transparent;
    outline: none;
    font-size: 16px;    }
.main-c-form input::placeholder{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #000;

   
}
.main-c-form{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 70px;
}

.main-c-form button{
    background-color: #0F9AD6;
    color: #000;
    padding: 15px 45px;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 3px;
}


.contact-form{
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 0px;
    width: 75%;
    border: 1px solid #D8D8D8;
}
.black-box{
    background-color: black;
    width: 119.4%;
    height: auto;
    position: relative;
    right: 118px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 30px;
    padding: 50px 0px 60px 50px;
    margin-top: 38px;

}
.black-box h4{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 500;  
    color: white;
}
.black-box p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: white;
    display: flex;
align-items: center;
     gap: 15px;
     width: 330px;
}
.blue-box{
    background-color: #0F9AD6;
    width: 25%;
    height: auto;
    padding-top: 70px;
 

}
.main-contact{
    display: flex;
}

#contact{
    margin: 10px 0px 50px 0px;
}



.main-signin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: auto;
    border: 2px solid black;
    border-radius: 25px;
    gap: 30px;
    padding: 50px 50px;
    margin-left: auto;
    margin-right: auto;
}


.sign-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.sign-in-inp{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.sign-in-inp input{
    padding: 18px 0px 15px 0px;
    padding-left: 25px;
    width: 340px;
    border-radius: 25px;
}
.sign-in-inp input::placeholder{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 500;
}
.sign-in-inp i{
    position: relative;
    right: 30px;
    font-size: 20px;
}
.sign-in-inp div{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 11px ;
}
.sign-head h2{
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    color: #000;
    font-weight: 600;
}
.sign-head h2 span{
    color: #0F9AD6;
}

.sign-in-texts{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
.sign-in-texts button{
    padding: 8px 15px;
    background-color: #0F9AD6;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
}
.terms{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
}
.terms a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
}
.already{
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
}
.already a{
    color: #0F9AD6;
    text-decoration: none;
}
footer{
    background-color: black;
    padding: 50px 0px;
}
.main-footer{
    display: flex;
    
    justify-content: center;
    gap: 150px;
    flex-wrap: wrap;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;

}
.footer-logo img{
    width: 190px;
    height: auto;
}
.footer-logo p{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    width: 340px;
    color: #808080;
}
.footer-soc-icons{
    display: flex;
    align-items: center;
    gap: 10px;
}



.circle-icon{
    width: 45px;
    height: 45px;
    background-color: #0F9AD6;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle-icon i{
    font-size: 20px;
    color: #fff;
}

.get-in-touch h4, .links h4, .newsletter h4{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #0F9AD6;
}

.get-in-touch, .links, .newsletter{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.get-in-touch p{
    display: flex;
    align-items: start;
    gap: 5px;
    color: #808080;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    width: 230px;

}
.get-in-touch div, .links div, .newsletter div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.links a{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #808080;
    text-decoration: none;
}
.newsletter input{
    width: 200px;
    padding: 15px 0px 10px 15px;

}
.newsletter button{
    width: 36%;
    padding: 8px 0px;
    border: none;
    border-radius: 3px;
    background-color: #0F9AD6;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: white;
}
.main-copy-rights{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 600px;
    padding: 10px 0px;
}
.main-copy-rights p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.main-guide{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 0px 0px;
}
.lg-screen-guide img{
    width: 1000px;
    height: auto;
}

.sml-screen-guide{
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    display: none;
}

.sml-screen-signin{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.sml-screen-signin input{
    width: 300px;
    padding: 10px 0px 10px 8px;
    border-radius: 20px;
    display: none;
}
.sml-screen-signin input::placeholder{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 500;
}

#signup{
    margin: 50px 0px;
}
#blog{
    margin: 20px 0px 70px 0px;
}
#templates{
    margin: 20px 0px 50px 0px;
}



@media screen and (max-width:500px) { 
    .main-header{
        flex-direction: column;
     }
    .ham-icon{
        display: flex;
    }
    .ham-close-icon{
        display: none;
    }

    .navigation{
        padding-top: 20px;
        display: none;
    }

    .navigation ul{
        flex-direction: column;
    }

    .lg-screen-guide{
        display: none;
    }

    .sml-screen-guide{
        display: flex;
    }

    .header-logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 180px;
    }
    .main-hero{
        flex-direction: column-reverse;
        gap: 50px;
    }
    .hero-img img{
        width: 100%;
        height: auto;
    }

    .hero-content h1, .hero-content h1 span{
        font-size: 30px;
    }


    .hero-bg-img{
        background-image: none;
        width: 100%;
       height: auto;
       border: none;
       padding: 30px 0px;
     }

     .blue-box{
        display: none;
    }


    .main-contact,.contact-form, .contact-head{
        width: 100%;
    }
    .main-c-form input{
        width: 162%;
    }
    .contact-head p {
        display: none;
    }


    .main-signin {
        width: 84%;
        padding: 30px 27px;
    }
   



    .sml-screen-signin input{
        display: flex;
    }

    .sign-in-inp{
        display: none;
    }

    .sign-head h2 {
      
        font-size: 20px;
    }


    .terms a, .terms p {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
    }
    

    .template-head p{
        font-size: 15px;
    }



    .already {
 
        font-size: 18px;
       
    }

    .main-copy-rights{
         display: block;
    }


     }

     @media only screen 
     and (min-device-width: 501px) 
     and (max-device-width: 1024px) {

         .main-header{
            flex-direction: column;
         }
        .ham-icon{
            display: flex;
        }
        .ham-close-icon{
            display: none;
        }


        .ham-icon span{
            font-size: 39px;
        }
        .ham-close-icon span{
            font-size: 39px;
        }

        .lg-screen-guide{
            display: none;
        }

        .sml-screen-guide{
            display: flex;
        }
        .navigation{
            display: none;
            padding-top: 40px;
        }
    
        .navigation ul{
            flex-direction: column;
        }
        .header-logo{
            display: flex;
            align-items: center;
            justify-content: space-between;

        }
        .header-logo{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 528px;
        }

        .main-hero{
            flex-direction: column-reverse;
            gap: 73px;
        }
        .hero-img img{
            width: 100%;
            height: auto;
        }
    
    
    
        .hero-bg-img{
            background-image: none;
            width: 100%;
           height: auto;
           border: none;
           padding: 30px 0px;
         }


         .blue-box{
            display: none;
        }

        .main-contact{
            width: 100%;
        }
        .contact-head p {
            display: none;
        }
    
        .contact-form {
            width: 100%;
        }
  
    .main-signin {
        width: 53%;
        padding: 30px 27px;
    }
    .sml-screen-signin input{
        display: flex;
    }

    .sign-in-inp{
        display: none;
    }

    .main-copy-rights{
      flex-direction: column;
      gap: 10px;
   }
         }
